container_commands:
    50-run-database-migrations:
        command: "COMPOSER_ALLOW_SUPERUSER=1 composer.phar phinx migrate"
        cwd: "/var/app/ondeck"
        ignoreErrors: false
        leader_only: true
        env:
            COMPOSER_ALLOW_SUPERUSER: 1
            COMPOSER_HOME: /var/app/ondeck
